#data files
data/npz_files/*
data/png_files/*
#result files
results/*
#model files
data/models/*
#exceptions
!data/npz_files/.gitkeep
!data/png_files/.gitkeep
#byte compiled
__pycache__/
*.pyc
#mac
*.DS_store
